

.menu {
  padding: 4rem;
  min-height: 100vh;

  &-wrapper {
    display: flex;
    flex-direction: column;
  }
}

.burger-btn {
  cursor: pointer;
  list-style: none;
  width: 80px;
  margin-left: auto;
  margin-right: 0;

  span {
    display: block;
    width: 100%;
    border-radius: 3px;
    height: 8px;
    background: var(--color-black);
    transition: all .3s;
    position: relative;

    & + span {
      margin-top: 14px;
    }

    &:first-child {
      animation: ease .7s top-2 forwards;
      .menu-wrapper[open] &{
        animation: ease .7s top forwards;
      } 
    }

    &:nth-child(2) {
      animation: ease .7s scaled-2 forwards;
      .menu-wrapper[open] &{
        animation: ease .7s scaled forwards;
      }
    }

    &:last-child {
      animation: ease .7s bottom-2 forwards;
      .menu-wrapper[open] &{
        animation: ease .7s bottom forwards;
      }
    }
  }
}

.nav {
  margin-top: 4rem;
  background-color: var(--color-black);
  animation: slideDown .5s ease-in-out;
  
  ul {
    @extend %listreset;
    padding: 4rem;
    text-align: center;
    font-size: 6rem;
  }

  li {
    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }

  a {
    @include animate(color);
    text-decoration: none;
    font-weight: 700;
    color: var(--color-white);

    &:hover {
      color: var(--color-orange);
    }
  }
}

@keyframes slideDown {
  0% {
    max-height: 0;
    overflow-y: hidden;
    opacity: 0;
  }

  100% {
    max-height: 60rem;
    opacity: 1;
  }
}

@keyframes top {
  0% {
    top: 0;
    transform: rotate(0);
  }
  50% {
    top: 22px;
    transform: rotate(0);
  }
  100% {
    top: 22px;
    transform: rotate(45deg);
  }
}

@keyframes top-2 {
  0% {
    top: 22px;
    transform: rotate(45deg);
  }
  50% {
    top: 22px;
    transform: rotate(0deg);
  }
  100% {
    top: 0;
    transform: rotate(0deg);
  }
}

@keyframes bottom {
  0% {
    bottom: 0;
    transform: rotate(0);
  }
  50% {
    bottom: 22px;
    transform: rotate(0);
  }
  100% {
    bottom: 22px;
    transform: rotate(135deg);
  }
}

@keyframes bottom-2 {
  0% {
    bottom: 22px;
    transform: rotate(135deg);
  }
  50% {
    bottom: 22px;
    transform: rotate(0);
  }
  100% {
    bottom: 0;
    transform: rotate(0);
  }
}

@keyframes scaled {
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes scaled-2 {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
