<section class="menu">
  <details class="menu-wrapper">
    <summary role="button" class="burger-btn">
      <span aria-label="burger element"></span>
      <span aria-label="burger element"></span>
      <span aria-label="burger element"></span>
    </summary>
    <div class="container">
      <nav class="nav">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Portfolio</a></li>
          <li><a href="#">Contacts</a></li>
          <li><a href="#">News</a></li>
          <li><a href="#">About</a></li>
        </ul>
      </nav>
    </div>
  </details>
</section>
